force-app/main/default/flows/FindAccountsByContactName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>acrvMarkdownFalse</name>
        <label>acrvMarkdownFalse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMarkdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttNL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMarkdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttBullet_ACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopACRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>acrvmarkdowntrue</name>
        <label>acrvmarkdowntrue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMarkdown</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttBullet_ACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopACRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FalsevMarkdown</name>
        <label>FalsevMarkdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMarkdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttNL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMarkdown</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttBullet_Primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetACRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init</name>
        <label>Init</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMarkdown</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactsByName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PI_Return</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>PI Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>### AccountsByName
{!vMarkdown}

</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>TruevMarkdown</name>
        <label>TruevMarkdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vMarkdown</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttBullet_Primary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetACRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dec_HasAcrAccount</name>
        <label>Dec HasAcrAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopACRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopACRs.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAcrAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_IsFirstLine_ACR</name>
        <label>Dec IsFirstLine ACR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>acrvMarkdownFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMarkdown</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>acrvmarkdowntrue</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_IsFirstLine_Primary</name>
        <label>Dec IsFirstLine Primary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FalsevMarkdown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMarkdown</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TruevMarkdown</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasPrimaryAccount</name>
        <label>HasPrimaryAccount?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetACRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopContacts.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrimaryAccount</targetReference>
            </connector>
            <label>If True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FindAccountsByContactName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FindAccountsByContactName</label>
    <loops>
        <name>LoopACRs</name>
        <label>LoopACRs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetACRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dec_HasAcrAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ContactsByName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HasPrimaryAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PI_Return</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>ContactsByName</name>
        <label>ContactsByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>in_ContactName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAcrAccount</name>
        <label>GetAcrAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_IsFirstLine_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopACRs.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetACRs</name>
        <label>GetACRs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopACRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryAccount</name>
        <label>GetPrimaryAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_IsFirstLine_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopContacts.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttBullet_ACR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!LoopContacts.Name} - {!GetAcrAccount.Name}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttBullet_Primary</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!LoopContacts.Name} - {!GetPrimaryAccount.Name}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttNL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>in_ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMarkdown</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
